$bg-darkgrey: #818181;
$bg-lightgrey: #f8f5f2;
$bg-lightgreen: #5f9ea0;
$bg-goldenearth: #cdc986;
$bg-lightgrey-op: rgba(211, 211, 211, 0.46);
$bg-white: #FFFFFF;
$bg-smoothwhite: #edeef0;
$bg-violetpower: #5f6ea0;

$tablet-width: 768px;
$desktop-width: 1200px;